<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/login.css">
</head>

<body class="d-flex flex-column">
  <%- include('../includes/navigation.ejs') %>
  <main class="d-flex align-items-center justify-content-center vh-100">
    <section class="login-container">
      <h1 class="text-center text-light">Se connecter</h1>
      <% if (error.length > 0) { %>
        <div class="alert alert-danger align-middle">
          <p><%= error %></p>
        </div>
      <% } %>
      <form action="/auth/login" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="mb-3">
          <input type="email" class="form-control" id="email" name="email" placeholder="&#xf007;   Email" style="font-family: Arial, 'Font Awesome 5 Free'">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" id="password" name="password" placeholder="&#xf023;   Password" style="font-family: Arial, 'Font Awesome 5 Free'">
        </div>
        <button type="submit" class="btn btn-light text-dark w-100">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
            <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
          </svg>
          Sign In
        </button>
      </form>
    </section>
  </main>
<%- include('../includes/end.ejs') %>