<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/catways.css">
</head>
<body class="d-flex flex-column">
  <%- include('../includes/navigation.ejs') %>
  <main class="d-flex align-items-center justify-content-center vh-100">
    <section class="catway-detail w-50">

      <div class="accordion success">

        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              <p class="m-0 me-2"><strong>Catway Détails - </strong># <%= catway._id %></p>
              <img src="/images/anchor.png" alt="Boat image">
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show d-flex flex-row" aria-labelledby="panelsStayOpen-headingOne">
            <div class="w-50">
              <h3 class="mb-2 text-center mt-5 text-success"><strong>Numéro Catway : </strong></h3>
              <p class="text-center display-1 text-success"><%= catway.catwayNumber %></p>
            </div>
            <div class="accordion-body d-flex flex-column justify-content-center w-50">
              <p class="mb-2 bg-secondary p-1 text-body bg-light border"><strong>Type : </strong><%= catway.type %></p>
              <p class="mb-2 bg-secondary p-1 text-body bg-light border"><strong>État : </strong></p>
              <form action="/catways/edit-state/<%= catway._id %>?_method=PATCH" method="POST" class="d-flex flex-column justify-content-end">
                <textarea 
                  name="catwayState" 
                  id="catwayState" 
                  cols="30" 
                  rows="5" 
                  style="resize:none" 
                  class="w-100"><%= catway.catwayState %>
                </textarea>
                <button type="submit" class="btn btn-warning btn-sm mt-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                  </svg>
                  Modifier état  
                </button>
              </form>
            </div>
          </div>
        </div>

        <% reservations.forEach((reservation) => { %>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button collapsed d-flex " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  <p class="mb-0 me-2"><strong>Réservation - </strong># <%= reservation._id %></p>
                  <img src="/images/ship.png" alt="Boat image">
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body">
                <p class="mb-2 text-body bg-light border p-1"><strong>Nom client :</strong> <%= reservation.clientName %></p>
                <p class="mb-2 text-body bg-light border p-1"><strong>Nom bateau :</strong> <%= reservation.boatName %></p>
                <p class="mb-2 text-body bg-light border p-1"><strong>Check-in :</strong> <%= moment(reservation.checkIn).format('DD/MM/YYYY') %></p>
                <p class="mb-2 text-body bg-light border p-1"><strong>Check-out :</strong> <%= moment(reservation.checkOut).format('DD/MM/YYYY') %></p>
              </div>
            </div>
          </div>
        <% }) %>
        <div class="bg-light p-3">
          <a href="/catways/list" class="btn btn-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
              <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
            </svg>
            Retour
          </a>
          <a href="/catways/get-edit/<%= catway._id %>?edit=true" class="btn btn-warning">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
              <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
            </svg>
            Modifier
          </a>

          <div class="modal fade" id="ModalToggle" aria-hidden="true" aria-labelledby="ModalToggleLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header bg-light">
                  <h1 class="modal-title fs-5" id="ModalToggleLabel">Éliminer catway <%= catway.catwayNumber %> ?</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-light">
                  <p class="mb-0">Êtes-vous sûr de vouloir supprimer cet catway ?</p>
                </div>
                <div class="modal-footer bg-light">
                  <form action="/catways/delete/<%= catway._id %>?_method=DELETE" method="post">
                    <button class="btn btn-danger" data-bs-target="ModalToggle2" data-bs-toggle="modal">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                      </svg>
                      Continuer
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <a class="btn btn-danger" data-bs-toggle="modal" href="#ModalToggle" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
              <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
            </svg>
            Supprimer
          </a>
        </div>
      </div>

    </section>
    <% if (success && success.length > 0) { %>
      <div id="flash-message" class="flash-message flash-message-success">
        <div class="flash-message-header">
          <h3>Success</h3>
          <span></span>
        </div>
        <div class="flash-message-body">
          <p><%= success[0] %></p>
        </div>
      </div>
    <% } %>
    
    <% if (error && error.length > 0) { %>
      <div id="flash-message" class="flash-message flash-message-error">
        <div class="flash-message-header">
          <h3>Error</h3>
          <span></span>
        </div>
        <div class="flash-message-body">
          <p><%= error[0] %></p>
        </div>
      </div>
    <% } %>
  </main>
<%- include('../includes/end.ejs') %>