<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/catway-detail.css">
</head>
<body class="d-flex flex-column">
<%- include('../includes/navigation.ejs') %>
<main>
  <section class="section-container">
    <header class="section-container__header">
      <img src="/images/helm32x32.png" alt="logo">
      <h1>Catway Dashboard</h1>
    </header>
    <section class="section-container__body">
      <aside class="body-aside">
        <%- include('../includes/dashboard-menu.ejs') %>
      </aside>
      <section class="body-content">

        <section class="body-content__details">
          <header class="body-content__header">
            <img src="/images/helm32x32.png" alt="logo">
            <h2>Catway details</h2>
          </header>

          <div class="body-content__body">
            <aside class="body-content__aside">
              <a href="/catways/<%= catway.catwayNumber %>/reservations" class="button-md">
                <img src="/images/calendar-color.png" alt="reservations">
                Réservations
              </a>
              <a href="/catways/get-edit/<%= catway._id %>?edit=true" class="button-md">
                <img src="/images/edit.png" alt="edit">
                Modifier
              </a>
              <div class="modal fade" id="ModalToggle" aria-hidden="true" aria-labelledby="ModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header bg-light">
                      <h1 class="modal-title fs-5" id="ModalToggleLabel">Éliminer catway <%= catway.catwayNumber %> ?</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-light">
                      <p class="mb-0">Êtes-vous sûr de vouloir supprimer cet catway ?</p>
                    </div>
                    <div class="modal-footer bg-light">
                      <form action="/catways/<%= catway.catwayNumber %>?_method=DELETE" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn btn-danger" data-bs-target="ModalToggle2" data-bs-toggle="modal">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                          </svg>
                          Continuer
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <a class="button-md" data-bs-toggle="modal" href="#ModalToggle" role="button">
                <img src="/images/delete.png" alt="delete">
                Supprimer
              </a>
              <a href="/catways" class="button-md">
                <img src="/images/exit.png" alt="exit">
                Retour
              </a>
            </aside>

            <div class="body-content__data">

              <div>
                <h3 class="mb-2 text-center display-4 mt-5 text-success"><strong>Catway : </strong></h3>
                <p class="text-center display-1 text-success"><%= catway.catwayNumber %></p>
              </div>

              <div>
                <p class="mb-2 bg-secondary p-1 text-body bg-light border"><strong>Type : </strong><%= catway.type %></p>
                <p class="mb-2 bg-secondary p-1 text-body bg-light border"><strong>État : </strong></p>
                <form action="/catways/<%= catway.catwayNumber %>?_method=PATCH" method="POST" class="d-flex flex-column justify-content-end">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <textarea 
                    name="catwayState" 
                    id="catwayState" 
                    cols="30" 
                    rows="10" 
                    style="resize:none" 
                    class="w-100"><%= catway.catwayState %>
                  </textarea>
                  <button type="submit" class="button-md w-100 mt-2">
                    <img src="/images/edit.png" alt="edit">
                    Modifier état  
                  </button>
                </form>
              </div>

            </div>
          </div>

          <footer class="body-content__footer">

          </footer>
        </section>
        
      </section>
    </section>
    <footer class="section-container__footer">
      <div>

      </div>
      <div>
        <p>
          Total Réserves : [<%= reservations.length %>]
        </p>
      </div>
      <div>
        <p><%= moment(Date.now()).format('DD/MM/YYYY') %></p>
      </div>
    </footer>
  </section>
  <% if (success && success.length > 0) { %>
    <div id="flash-message" class="flash-message flash-message-success">
      <div class="flash-message-header">
        <h3>Success</h3>
        <span></span>
      </div>
      <div class="flash-message-body">
        <p><%= success[0] %></p>
      </div>
    </div>
  <% } %>
  <% if (error && error.length > 0) { %>
    <div id="flash-message" class="flash-message flash-message-error">
      <div class="flash-message-header">
        <h3>Error</h3>
        <span></span>
      </div>
      <div class="flash-message-body">
        <p><%= error[0] %></p>
      </div>
    </div>
  <% } %>
</main>
<%- include('../includes/end.ejs') %>