<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/dashboard.css">
</head>
<body class="d-flex flex-column">
<%- include('includes/navigation.ejs') %>
<main>
  <section class="section-container">

    <header class="section-container__header">
      <img src="/images/helm32x32.png" alt="logo">
      <h1>Dashboard</h1>
    </header>

    <section class="dashboard section-container__body">

      <aside class="body-aside">
        <%- include('includes/dashboard-menu.ejs') %>
      </aside>

      <div class="body-content">
        <div class="dashboard-catways">
          <header>
            <img src="/images/anchor_.png" alt="anchor">
            <h2>Catways</h2>
          </header>
          <section>
            <div class="catways-info">
              <% if (catwayError.length > 0) { %>
                <h1 class="text-danger"><%= catwayError %></h1>        
              <% } else { %>
                <div>
                  <h3>Last catway added</h3>
                  <p><strong>Number : </strong> <%= lastCatway.catwayNumber  %></p>
                  <p><strong>Creation :</strong> <%= moment(lastCatway.createdAt).format('DD/MM/YYYY') %></p>
                </div>
                <div>
                  <h3 class="mt-4">Availability</h3>
                  <p><strong>Occupied catways: </strong> <%= ocupiedCatways %></p>
                  <p><strong>Available catways: </strong> <%= availableCatways %></p>
                </div>
                <div>
                  <h3 class="mt-4">Total</h3>
                  <p><strong>Total catways : </strong> <%= catways.length %></p>
                </div>
              <% } %>
              <div>
                <a href="/catways/get-add" class="btn btn-primary btn-sm">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                  </svg>
                  Add catway
                </a>
              </div>
            </div>

            <div class="catways-ocupation">
              <h3>Occupancy rate</h3>
              <svg viewBox="0 0 36 36" class="circular-chart orange">
                    <path class="circle-bg"
                      d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <path class="circle"
                      stroke-dasharray="<%= ocupation%>, 100"
                      d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <text x="18" y="20.35" class="percentage"><%= ocupation%>%</text>
              </svg>
            </div>
          </section>
        </div>

        <div class="dashboard-reservations">
          <header>
            <img src="/images/booking.png" alt="reservations">
            <h2>Reservations</h2>
          </header>
          <section>
            <div class="reservations-info">
              <% if (reservationError.length > 0) { %>
                <h1 class="text-danger"><%= reservationError %></h1>        
              <% } else { %>
                <div>
                  <h3>Next reservation to expire</h3>
                  <ul>
                    <% if (nextReservationToExpire === null) { %>
                      <li>No next reservation to expire</li>
                    <% } else { %>
                      <li>
                        <img src="/images/anchor.png" alt="catway">
                        <strong>Catway : </strong>
                        <%= nextReservationToExpire.catwayNumber %>
                      </li>
                      <li>
                        <img src="/images/user-client.png" alt="client">
                        <strong>Client name : </strong>
                        <%= nextReservationToExpire.clientName %>
                      </li>
                      <li>
                        <img src="/images/sailing-boat.png" alt="Boat">
                        <strong>Boat name : </strong>
                        <%= nextReservationToExpire.boatName %>
                      </li>
                      <li>
                        <img src="/images/booking.png" alt="checkin">
                        <strong>Start date : </strong>
                        <%= moment(nextReservationToExpire.checkIn).format('DD/MM/YYYY') %>
                      </li>
                      <li>
                        <img src="/images/booking.png" alt="checkout">
                        <strong>End date : </strong>
                        <%= moment(nextReservationToExpire.checkOut).format('DD/MM/YYYY') %>
                      </li>
                    <% } %>
                  </ul>
                </div>
                <div>
                  <h3>Last reservation</h3>  
                  <ul>
                    <% recentBookings.forEach(recentBooking => { %>
                      <li>
                        <div>
                          <p>
                            <img src="/images/anchor.png" alt="catway">
                            <strong>Catway : </strong>
                            <%= recentBooking.catwayNumber %>
                          </p>
                          <p>
                            <img src="/images/user-client.png" alt="client">
                            <strong>Client name : </strong>
                            <%= recentBooking.clientName %>
                          </p>
                          <p>
                            <img src="/images/sailing-boat.png" alt="Boat">
                            <strong>Boat name : </strong>
                            <%= recentBooking.boatName %>
                          </p>
                          <p>
                            <img src="/images/booking.png" alt="checkin">
                            <strong>Start date : </strong>
                            <%= moment(recentBooking.checkIn).format('DD/MM/YYYY') %>
                          </p>
                          <p>
                            <img src="/images/booking.png" alt="checkout">
                            <strong>End date : </strong>
                            <%= moment(recentBooking.checkOut).format('DD/MM/YYYY') %>
                          </p>
                        </div>
                      </li>
                    <% }) %>
                  </ul>
                </div>
                <div>
                  <h3>Statistics</h3>
                  <p><strong>Average booking duration : </strong><%= averageDuration %> days</p>
                </div>
                <div>
                  <h3>Total</h3>
                  <p><strong>Total active reserves : </strong><%= totalActiveReserves %></p>
                  <p><strong>Total reserves : </strong><%= reservations.length %></p>
                </div>
              <% } %>
            </div>
          </section>
        </div>

        <div class="dashboard-users">
          <header>
            <img src="/images/user.png" alt="user">
            <h2>Users</h2>
          </header>
          <section>
            <div class="users-info">
              <% if (usersError.length > 0) { %>
                <h1 class="text-danger"><%= usersError %></h1>        
              <% } else { %>
                <div>
                  <h3>Total users : </h3>
                  <p><%= users.length %></p>
                </div>
                <div>
                  <h3>User logged in : </h3>
                  <p><%= user.email %></p>
                </div>
                <div>
                  <a href="/users/add-user" class="btn btn-primary btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                    </svg>
                    Add user
                  </a>
                </div>
              <% } %>
            </div>
          </section>
        </div> 

      </div>

    </section>

    <footer class="section-container__footer">

    </footer>
  </section>

</main>
<%- include('includes/end.ejs') %>