<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/reservation.css">
</head>
<body class="d-flex flex-column">
<%- include('../includes/navigation.ejs') %>
<main>
  <section class="section-container">
    <header class="section-container__header">
      <img src="/images/helm32x32.png" alt="logo">
      <h1>Dashboard</h1>
    </header>
    <section class="section-container__body">
      <aside class="body-aside">
        <a href="/catways/<%= reservation.catwayNumber %>/reservations" class="btn btn-secondary w-75 text-start">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
          </svg>
          Retour
        </a>
      </aside>
      <div class="body-content">
        
        <section class="reservation-content">
          <form action="/catways/<%= reservation.catwayNumber %>/reservations/<%= reservation._id %>?_method=DELETE" method="POST" class="reservation-content__form">
            <header class="reservation-content__header">
              <img src="/images/helm32x32.png" alt="logo">
              <h2>Réservation</h2>
            </header>
            <div class="reservation-content__body">
              <aside>
                <button type="submit" class="btn btn-danger btn-sm">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                  </svg>
                  Suprimer
                </button>
              </aside>
              <div>
                <p>
                  <img src="/images/id.png" alt="id">
                  <strong> # </strong>
                  <%= reservation.id %>
                </p>
                <p>
                  <img src="/images/anchor.png" alt="id icon">
                  <strong>Catway : </strong>
                  <%= reservation.catwayNumber %>
                </p>
                <p>
                  <img src="/images/user-client.png" alt="user icon">
                  <strong>Nom client : </strong>
                  <%= reservation.clientName %>
                </p>
                <p>
                  <img src="/images/sailing-boat.png" alt="boat icon">
                  <strong>Bateau : </strong>
                  <%= reservation.boatName %>
                </p>
                <p>
                  <img src="/images/calendar.png" alt="calendar icon">
                  <strong>Date d'arrivée : </strong>
                  <%= moment(reservation.checkIn).format('DD/MM/YYYY') %>
                </p>
                <p>
                  <img src="/images/calendar.png" alt="calendar icon">
                  <strong>Date de sortie : </strong>
                  <%= moment(reservation.checkIn).format('DD/MM/YYYY') %>
                </p>
              </div>
              
            </div>
            <footer class="reservation-content__footer"></footer>
          </form>

        </section>





      </div>
    </section>
    <footer class="section-container__footer">
      <div></div>
      <div>
        <p>
          Total Réserves : [<%= reservation.length %>]
        </p>
      </div>
      <div>
        <p><%= moment(Date.now()).format('DD/MM/YYYY') %></p>
      </div>
    </footer>
  </section>
</main>
<%- include('../includes/end.ejs') %>