<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/reservation.css">
</head>
<body class="d-flex flex-column">
<%- include('../includes/navigation.ejs') %>
<main>
  <section class="section-container">
    <header class="section-container__header">
      <img src="/images/helm32x32.png" alt="logo">
      <h1>Dashboard</h1>
    </header>
    <section class="section-container__body">
      <aside class="body-aside">
        <%- include('../includes/dashboard-menu.ejs') %>
      </aside>
      <div class="body-content">  
        <section class="reservation-content">
          <header class="reservation-content__header">
              <img src="/images/helm32x32.png" alt="logo">
              <h2>Reservation</h2>
          </header>
          <div class="reservation-content__body">
              <aside>
                <a class="button-md" data-bs-toggle="modal" href="#ModalToggle" role="button">
                  <img src="/images/delete.png" alt="delete">
                  Delete
                </a>
                <a href="/reservations" class="button-md w-75">
                  <img src="/images/exit.png" alt="exit">
                  Back
                </a>
              </aside>
              <div>
                <p>
                  <img src="/images/id.png" alt="id">
                  <strong> # </strong>
                  <%= reservation.id %>
                </p>
                <p>
                  <img src="/images/anchor.png" alt="id icon">
                  <strong>Catway : </strong>
                  <%= reservation.catwayNumber %>
                </p>
                <p>
                  <img src="/images/user-client.png" alt="user icon">
                  <strong>Client name : </strong>
                  <%= reservation.clientName %>
                </p>
                <p>
                  <img src="/images/sailing-boat.png" alt="boat icon">
                  <strong>Boat : </strong>
                  <%= reservation.boatName %>
                </p>
                <p>
                  <img src="/images/booking.png" alt="calendar icon">
                  <strong>Arrival date : </strong>
                  <%= moment(reservation.checkIn).format('DD/MM/YYYY') %>
                </p>
                <p>
                  <img src="/images/booking.png" alt="calendar icon">
                  <strong>Release date : </strong>
                  <%= moment(reservation.checkOut).format('DD/MM/YYYY') %>
                </p>
              </div>    
          </div>
          <footer class="reservation-content__footer"></footer>
        </section>
        <div class="modal fade" id="ModalToggle" aria-hidden="true" aria-labelledby="ModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header bg-light">
                <h1 class="modal-title fs-5" id="ModalToggleLabel">Delete reservation ?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body bg-light">
                <p class="mb-0">Are you sure you want to delete this reservation? ?</p>
              </div>
              <div class="modal-footer bg-light">
                <form action="/catways/<%= reservation.catwayNumber %>/reservations/<%= reservation._id %>?_method=DELETE" method="POST" class="reservation-content__form">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button class="btn btn-danger" data-bs-target="ModalToggle2" data-bs-toggle="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                      <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                    </svg>
                    Continue
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="section-container__footer">
      <div></div>
      <div>
        <p>
          Total Reservations : [<%= reservation.length %>]
        </p>
      </div>
      <div>
        <p><%= moment(Date.now()).format('DD/MM/YYYY') %></p>
      </div>
    </footer>
  </section>
</main>
<%- include('../includes/end.ejs') %>